<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Cost</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="filter" class="nav-link">Filter</a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="sum" class="nav-link">Sum</a>
      </li>
      <li class="nav-item">
        <a routerLink="average" class="nav-link">Average</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
