<div class="list row">
  <div class="col-md-8">
    <h4>Sum of costs by datetime range</h4>
  </div>
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="startTime"
      />
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="endTime"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="sumCosts()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
   Sum value: {{ sum }}
  </div>
</div>
