<div class="list row">
  <div class="col-md-8">
    <h4>Average costs by days</h4>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th >Average value</th>
      </tr>
      <tbody>
      <tr *ngFor="let cost of avgCosts">
        <th>{{ cost.date | date: 'shortDate' }}</th>
        <th class="text-right">{{ cost.averageValue?.toFixed(2) }}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>

