<div class="list row">
  <div class="col-md-8">
    <h4>Filter costs by datetime range</h4>
  </div>
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="startTime"
      />
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="endTime"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="filterCosts()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Value</th>
        <th>Time</th>
      </tr>
      <tbody>
      <tr *ngFor="let cost of costs">
        <th>{{ cost.value}}</th>
        <th>{{ cost.dateTime | date: 'short' }}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>

