<div class="list row">
  <div class="col-md-8">
    <h4>Register cost with value and datetime</h4>
  </div>
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="number"
        class="form-control"
        placeholder="Value"
        [(ngModel)]="value"
      />
      <input
        type="datetime-local"
        class="form-control"
        placeholder="Time"
        [(ngModel)]="dateTime"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="registerCost()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #registered let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cost registration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <p>Cost is registered successfully!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
